{% extends "base.twig" %}

{% set auctionsToShow = craft.entries()
    .section('auction')
    .orderBy('calendarDate asc')
    .all() %}

{% block content %}
    {% include 'parts/_breadcrumbs' %}
    {% include 'parts/_pageheader' with {'headertext': entry.title} %}

    <section class="contentSection">
        <div class="container">
            <div class="tiles">
                {% for auction in auctionsToShow %} 
                    {% include('parts/_auctionTile') with { 
                        'auction': auction,
                        'extraclass': 'listingTile',
                        'showCount' : true
                        } %}            
                {% endfor %}

                <div class="tileItem emptyTile"></div>
                <div class="tileItem emptyTile"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}
    {% include 'parts/_bottomForm' %}
{% endblock %}
