{% extends "base.twig" %}
{% set pageTitle = entry.seoTitle ? entry.seoTitle : entry.title %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}

{% set auctionsToShow = craft.entries()
    .section('auction')
    .orderBy('calendarDate asc')
    .all() %}

{% block content %}
    {% include 'parts/_breadcrumbs' %}
    {% include 'parts/_pageheader' with {'headertext': entry.title} %}

    <section class="contentSection">
        <div class="container">
            <div class="tiles row">
                {% for auction in auctionsToShow %} 
                    {% include('parts/_auctionTile') with { 
                        'auction': auction,
                        'extraclass': 'col-lgx-3 col-md-6',
                        'showCount' : false
                        } %}            
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}
    {% include 'parts/_bottomForm' %}
{% endblock %}
