{% extends "base.twig" %}
{% set pageTitle = entry.seoTitle ? entry.seoTitle : entry.title %}
{% set pageDescription = entry.seoDescription ? entry.seoDescription : entry.title %}
{% set productsToShow = craft.entries()
    .section('product')
    .all() %}

{% block content %}
    {% include 'parts/_breadcrumbs' %}
    {% include 'parts/_pageheader' with {'headertext': entry.title} %}

    <section class="contentSection">
        <div class="container">
            <div class="tiles row">
                {% for product in productsToShow %} 
                    {% include('parts/_productTile') with { 
                        'product': product,
                        'extraclass': 'col-lgx-3 col-md-6',
                        } %}            
                {% endfor %}

                <div class="tileItem emptyTile"></div>
                <div class="tileItem emptyTile"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block subcontent %}
    {% include 'parts/_bottomForm' %}
{% endblock %}
