<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% do view.registerCssFile("@web/assets/dist/app.css") %}
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="app">
        {% include('parts/header') with { 'accent' : menu_accent|default('black') } %}

        {% block content %}{% endblock %}
        {% block subcontent %}{% endblock %}
        {% block subcontent2 %}{% endblock %}

        {% include('parts/footer') %}

        {% do view.registerJsFile("@web/assets/dist/app.js") %} 
    </div>
  </body>
</html>