{% set metaTitle = 'Machinery & Plant Auctions' %}
{% if pageTitle is defined %}
  {% set metaTitle = metaTitle ~ ' | ' ~ pageTitle %}
{% endif %}

{% set metaDescription = 'Machinery & Plant Auctions' %}
{% if pageDescription is defined %}
  {% set metaDescription = pageDescription %}
{% endif %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% do view.registerCssFile("@web/assets/dist/app.css") %}
    <title>{{metaTitle}}</title>
    <meta name="description" content="{{metaDescription}}">
    {% block extraheadcode %}{% endblock %}
  </head>
  <body>
    <div id="app">
        {% include('parts/header') with { 'accent' : menu_accent|default('black') } %}

        {% block content %}{% endblock %}
        {% block subcontent %}{% endblock %}
        {% block subcontent2 %}{% endblock %}

        {% include('parts/footer') %}
    </div>

    {% do view.registerJsFile("@web/assets/dist/app.js") %} 
  </body>
</html>