{% set auctionsToShow = promotedAuctions.all() %}

{# Next code in case we need add some logic for small number of tiles #}
{% switch auctionsToShow|length %}
    {% case 3 %}
        {% set notEnoughTiles = 'notEnough_3' %}
    {% case 2 %}
        {% set notEnoughTiles = 'notEnough_2' %}
    {% case 1 %}
        {% set notEnoughTiles = 'notEnough_2' %}
    {% default %} 
        {% set notEnoughTiles = '' %}   
{% endswitch %}

<section class="contentSection auctionsIntro">
    <div class="container">
        <div class="headerPart" data-aos="fade-up">
            <h3 class="header">Upcoming Auctions</h3>
            <a href="/auctions" class="btn btnPrimary onlyDesktop">View All</a>
        </div>

        <div class="tiles row {{notEnoughTiles}} ">
            {% for auction in auctionsToShow %} 
                {% include('parts/_auctionTile') with { 'auction': auction, 'extraclass': 'col-lgx-3 col-md-6' } %}            
            {% endfor %}
        </div>

        <a href="/auctions" class="btn btnPrimary onlyMobile">View All</a>
    </div>
</section>
