<section class="contentSection leadersSection">
    <div class="container">
        <div class="headerPart">
            <h3 class="header">{{headerText}}</h3>
        </div>

        <div class="row linkTiles">
            {% for oneLink in links.all() %} 
                {% include('parts/_blockLink') with { 'content': oneLink, 'extraclass': 'col-lg-4' } %}           
            {% endfor %}
        </div>
    </div>
</section>